/* Desktop */
header {
    background: skyblue;
    max-width:1160px;
    height:100px; margin:0 auto;
    display: flex; flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative; /* m-nav-open absolute 부모기준 */
}
header h1 {
    background: rgb(255, 255, 69);
    width:100px; height:35px;
}
header h1 a {}
header h1 a img {width:100%;}
header nav {
    background: pink;
}
header nav ul {
    display:flex; flex-flow:row nowrap;
}
header nav ul li {
    margin-right:20px;
}
header nav ul li:last-child{margin-right:0px;}
header nav ul li a {
    font-size:1.33rem;
    letter-spacing: -0.02em;
}
/* 모바일 메뉴 - 데스크탑에서 숨기기 */
header nav .m_nav {display:none;}
header .m_nav_open {
    background: lightpink;
    position: absolute; top:100px;
    display: none;
    /* width: calc(100% - 30px);  */
    width:100%;
    padding:50px 0;
}
header .m_nav_open #close {
    position: absolute; right: 20px; top: 20x; /* 겹치기 */
    font-size:24px;
}
header .m_nav_open ul {text-align: center;}
header .m_nav_open ul li {padding-bottom: 30px;}
header .m_nav_open ul li a {font-size:1.33rem;}
/* main-1. swiper-slide */
/* .swiper 플러그인의 정식명칭 클래스는 웹페이지 1장에서 swiper가 2개 이상 들어올 경우
디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스를 사용해서 선택자를 만들고 디자인한다. */
main #pawin_slide {
    width: 1160px; height: 650px;
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {}
main #pawin_slide .swiper-wrapper .slide1 {
    background:url(http://picsum.photos/id/18/1160/650);
}
main #pawin_slide .swiper-wrapper .slide2 {
    background:url(http://picsum.photos/id/101/1160/650);
}
main #pawin_slide .swiper-wrapper .slide3 {
    background:url(http://picsum.photos/id/777/1160/650);
}
main #pawin_slide .swiper-wrapper .slide4 {
    background:url(http://picsum.photos/id/133/1160/650);
}
main #pawin_slide .swiper-button-prev, main #pawin_slide .swiper-button-next {
    width: 40px; height: 40px;
}
main #pawin_slide .swiper-button-prev {
    background:url(/images/priw.png) no-repeat;
}
main #pawin_slide .swiper-button-next {
    background:url(/images/next.png) no-repeat;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전,다음 숨기기 */
main #pawin_slide .swiper-button-prev::after, main #pawin_slide .swiper-button-next::after {display: none;}

/* 연습 */
main #m_slide {width:1160px; height: 300px;}
main #m_slide .swiper-wrapper {}
main #m_slide .swiper-wrapper .swiper-slide {}
main #m_slide .swiper-wrapper .s1 {
    background: url(http://picsum.photos/id/30/1160/300);
}
main #m_slide .swiper-wrapper .s2 {
    background: url(http://picsum.photos/id/77/1160/300);
}
main #m_slide .swiper-wrapper .s3 {
    background: url(http://picsum.photos/id/25/1160/300);
}